.bigtube #placeholder-player .player-api.player-width.player-height {
  width: 100vw !important;
  min-width: 1003px;
  height: 100vh !important;
  max-width: 100%;
  left: -50vw;
}

.bigtube #player-mole-container #player-api {
  height: 100vh;
  width: 100vw;
  min-width: 1003px;
  max-width: 100%;
  margin-left: 50vw;
  left: -50vw;
}

.bigtube #masthead-positioner-height-offset {
  display: none;
}

.bigtube #masthead-positioner {
  opacity: 0;
  transition-duration: 0.3s;
}

.bigtube #watch-appbar-playlist {
  margin-top: calc( 100vh - 480px);
}

@media screen and (min-height: 870px) and (min-width: 1320px) {
  .bigtube #watch-appbar-playlist {
    margin-top: calc( 100vh - 720px);
  }
}

#masthead-positioner:hover {
  opacity: 1;
}