/*#placeholder-player {
  width: 100vw !important;
  height: 100vh !important;
}*/

#placeholder-player .player-api.player-width.player-height {
  width: 100vw !important;
  min-width: 1003px;
  height: 100vh !important;
  max-width: 100%;
  left: -50vw;
}

#player-mole-container #player-api {
  height: 100vh;
  width: 100vw;
  min-width: 1003px;
  max-width: 100%;  
  margin-left: 50vw;
  left: -50vw;
}

.bigtube #masthead-positioner-height-offset {
  display: none;
}

.bigtube #masthead-positioner {
  opacity: 0;
  transition-duration: 0.3s;
}

#masthead-positioner:hover {
  opacity: 1;
}
