@media screen and (min-width: 1015px) {
  #movie_player.bt-miniplayer {
    position: fixed;
    /* just behind context menu */
    z-index: 2299;
    bottom: 10px;
    right: 10px;
    width: 480px;
    height: 270px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: right ease-out 0.2s;
    align-items: center;
    justify-content: center;
  }

  #movie_player.bt-miniplayer.bt-miniplayer-hidden {
    right: -430px;
  }

  #movie_player .bt-btt-btn,
  #movie_player .bt-hide-btn {
    display: none;
    position: absolute;
    top: 5px;
    width: 100px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
  }

  #movie_player.bt-miniplayer.bt-miniplayer-hidden .bt-hide-btn {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* 480 - 430px */
    height: 50px;
    width: 270px;
    transform: rotate(-90deg);
    transform-origin: 135px 135px;
    border: none;
    border-radius: 0;
  }

  #movie_player.bt-miniplayer:hover .bt-btt-btn,
  #movie_player.bt-miniplayer:hover .bt-hide-btn {
    display: flex;
  }

  #movie_player.bt-miniplayer:hover .bt-btt-btn:hover,
  #movie_player.bt-miniplayer:hover .bt-hide-btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  #movie_player .bt-btt-btn {
    right: 5px;
  }

  #movie_player .bt-hide-btn {
    left: 5px;
  }

  #movie_player .bt-hide-btn div {
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
  }

  #movie_player.bt-miniplayer video {
    width: 480px !important;
    height: 270px !important;
    max-width: 480px !important;
    max-height: 270px !important;
  }

  #movie_player.bt-miniplayer .ytp-chrome-top-buttons {
    display: none;
  }

  ytd-watch-flexy:not([theater])
    #movie_player.bt-miniplayer
    .ytp-progress-bar-container {
    display: none;
  }

  #movie_player.bt-miniplayer .ytp-chrome-bottom {
    /* account of left and right padding of 12px */
    width: 456px !important;
    max-width: 456 !important;
  }

  #movie_player.bt-miniplayer .ytp-caption-segment {
    font-size: 12px !important;
  }

  #movie_player.bt-miniplayer .ytp-chrome-bottom {
    max-height: 36px !important;
  }

  /* Hide default/theatre view toggle and miniplayer buttons */
  #movie_player.bt-miniplayer .ytp-size-button.ytp-button,
  #movie_player.bt-miniplayer .ytp-miniplayer-button.ytp-button {
    display: none;
  }
}
