body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Checkbox */

.o-checkbox {
    width: 30px;
    position: relative;
}
.o-checkbox input[type=checkbox] {
    visibility: hidden;
}
.o-checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.o-checkbox input[type=checkbox][disabled] + label {
    background-color: #ddd;
}
.o-checkbox label {
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fbfffe;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}
.o-checkbox label:after {
    content: '';
    width: 15px;
    height: 7px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 5px solid #e74c3c;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
    color: #e74c3c;
}
